body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  margin: 0 auto;
  max-width: 1024px;
}

.form-section {
  display: block;
  margin: 20px auto;
}

.landing {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  margin: 0 auto;
  max-width: 1024px;
  padding: 8px 32px;
}

.landing > h1 {
  color: #3f51b5;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

.landing > p {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
}

.emojis {
  font-size: 32px;
  margin: 32px auto;
}

.marker-info {
  padding: 0 8px;
}

.radio-group {
  justify-content: space-around;
  margin-top: 10px;
}

.record-entry {
  position: relative;
  margin: 32px;
}

.vax-map {
  height: 400px;
  position: relative;
}

.gutters {
  padding: 8px;

}
@media only screen and (min-width: 1024px) {
  .gutters {
    padding: 8px 0;
  }
}

.modal-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal {
  background-color: white;
  border-radius: 8px;
  padding: 16px 32px 32px;
}

.table {
  position: relative;  
}

.button--fw {
  width: 100%;
}

.location-search-input {
  width: 100%;
}

.suggestion-item, .suggestion-item--active {
  padding: 8px 0;

}

.animate__animated{
  -webkit-animation-duration: .5s;
  animation-duration:.5s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}

@-webkit-keyframes fadeOutDown{
  0%{
      opacity:1
  }
  to{
      opacity:0;
      -webkit-transform:translate3d(0,100%,0);
      transform:translate3d(0,100%,0)
  }
}
@keyframes fadeOutDown{
  0%{
      opacity:1
  }
  to{
      opacity:0;
      -webkit-transform:translate3d(0,100%,0);
      transform:translate3d(0,100%,0)
  }
}
.animate__fadeOutDown{
  -webkit-animation-name:fadeOutDown;
  animation-name:fadeOutDown
}

@-webkit-keyframes slideOutLeft{
  0%{
      -webkit-transform:translateZ(0);
      transform:translateZ(0)
  }
  to{
      visibility:hidden;
      -webkit-transform:translate3d(-100%,0,0);
      transform:translate3d(-100%,0,0)
  }
}
@keyframes slideOutLeft{
  0%{
      -webkit-transform:translateZ(0);
      transform:translateZ(0)
  }
  to{
      visibility:hidden;
      -webkit-transform:translate3d(-100%,0,0);
      transform:translate3d(-100%,0,0)
  }
}
.animate__slideOutLeft{
  -webkit-animation-name:slideOutLeft;
  animation-name:slideOutLeft
}

@-webkit-keyframes slideInRight{
  0%{
      -webkit-transform:translate3d(100%,0,0);
      transform:translate3d(100%,0,0);
      visibility:visible
  }
  to{
      -webkit-transform:translateZ(0);
      transform:translateZ(0)
  }
}
@keyframes slideInRight{
  0%{
      -webkit-transform:translate3d(100%,0,0);
      transform:translate3d(100%,0,0);
      visibility:visible
  }
  to{
      -webkit-transform:translateZ(0);
      transform:translateZ(0)
  }
}
.animate__slideInRight{
  -webkit-animation-name:slideInRight;
  animation-name:slideInRight
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.animate__fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}
